.button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.button:hover{
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.deleteButton {
    -fx-border-color: black;
    -fx-background-color: #c10700;
}

.deleteButton:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.pauseInfoPane {
    -fx-background-color: rgba(234, 234, 234, 0.7);
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.chooseBulletPane {
    -fx-background-color: rgba(234, 234, 234,1);
    -fx-border-color: #262626;
    -fx-border-width: 4;
    -fx-border-style: solid;
    -fx-border-radius: 1em, 1em;
    -fx-background-radius: 2em, 2em;
}

.gameOverPane {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
}

.gameWonPane {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.gamePlayInfoPane {
    -fx-background-color: #FDFDFD;
    -fx-border-color: #EFEFEF;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 1em, 1em;
    -fx-background-radius: 1em, 1em;
}

.pauseSettingsPane {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.highScoreBackgroundPane {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.tree-cell {
    -fx-font-size: 16px;
    -fx-padding: 12px;
    -fx-text-fill: black;
}

.tree-cell:odd {
    -fx-background-color: #E9F1F2;
}

.tree-cell:even {
    -fx-background-color: #EFE9F2;
}

.tree-cell:hover {
    -fx-background-color: #DEDEDE;
}

.tree-cell:selected {
    -fx-text-fill: black;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: black;
}

.availableText{
    -fx-font-weight: bold;
    -fx-text-fill: #009700;
}

.list-view .list-cell {

}